* {
  margin: 0;
  padding: 0
}

html {
  scroll-behavior: smooth;
  font-family: Futura, Roboto, Nunito, sans-serif
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: lavender
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #400040;
  padding: 12px;
  position: fixed;
  width: 100%
}

header img {

}

header h1 {
  flex: 1 0 auto;
  text-align: left;
  justify-self: flex-start;
  color: goldenrod
}

header ul {
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  margin: 0 auto;
  color: goldenrod;
  list-style: none
}

header li {
  margin: 12px
}

header a:link,
header a:visited {
  flex: 1 0 auto;
  color: goldenrod;
  text-decoration: none;
  transition: all 0.25s
}

header a:hover,
header a:active {
  color: gold
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0
}

main hr {
  width: 90%;
  min-width: 288px;
  max-width: 720px;
  margin: 24px auto
}

main form {
  display: flex;
  flex-direction: column;
  margin: 16px auto
}

main form input {
  width: 256px;
  height: 24px;
  font-size: 16px
}

#submit {
  width: 96px;
  height: 28px;
  margin: 8px auto;
  color: #F0F0F0;
  background-color: purple;
  border-radius: 8px;
  transition: background-color 0.25s
}

#submit:hover {
  background-color: magenta
}

#features article {
  color: purple;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 2px 2px 2px #400040;
  background-color: #C6C6DA;
  border-radius: 8px;
  margin: 16px;
  padding: 8px
}

#features h3 {
  margin: 32px auto;
  text-align: center
}

#features article * {
  margin: 8px
}

#video {
  margin: 12px auto
}

#stones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 24px auto;
  width: 90%;
  max-width: 720px;
  overflow: hidden
}

#stones article {
  color: purple;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #C6C6DA;
  box-shadow: 2px 2px 2px #400040;
  border: 2px #AAAAAA solid;
  border-radius: 8px;
  width: 256px;
  margin: 16px;
  padding: 12px
}

#stones img {
  border: 2px #444444 solid;
  border-radius: 50%
}

#stones p {
  text-align: justify
}

#gauntlet {

}

#gauntlet h2 {
  text-align: center
}

#img-gauntlet {
  width: 320px;
  height: 240px;
  margin: 12px auto;
  border: 2px #400040 solid;
  box-shadow: 2px 2px 2px #444444;
  border-radius: 8px;
  display: block;
  overflow: hidden
}

#gauntlet p {
  margin: 24px;
  max-width: 720px;
  text-align: justify
}

#pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 720px
}

#pricing * {
  margin: 8px
}

#pricing h2,
#pricing h4 {
  text-align: center
}

#pricing td {
  width: 144px;
  padding: 2px;
  text-align: center;
  background-color: #c6c6da
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #400040;
  color: goldenrod;
  padding: 24px
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style: none
}

footer li {
  margin: 16px
}

footer a:link,
footer a:visited {
  flex: 1 0 auto;
  color: goldenrod;
  transition: all 0.25s
}

footer a:hover,
footer a:active {
  color: gold
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.0em
  }

  h4 {
    font-size: 0.75em
  }

  header li {
    font-size: 12px
  }

  #video {
    width: 320px;
    height: 240px
  }
}