* {
  margin: 0;
  padding: 0
}

html {
  font-family: Futura, Roboto, Nunito, sans-serif
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: lavender
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #400040;
  padding: 12px
}

header ul {
  display: flex;
  flex-direction: row;
  color: goldenrod;
  list-style: none
}

header li {
  margin: 24px
}

header a:link,
header a:visited {
  flex: 1 0 auto;
  color: goldenrod;
  text-decoration: none;
  transition: all 0.25s
}

header a:hover,
header a:active {
  color: gold
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #400040;
  color: goldenrod;
  padding: 24px;
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

footer li {
  margin: 8px;
}

footer a:link,
footer a:visited {
  flex: 1 0 auto;
  color: goldenrod;
  transition: all 0.25s
}

footer a:hover,
footer a:active {
  color: gold
}

@media screen and (max-width: 360px) {
  main {

  }
}